@model IEnumerable<Project>?
@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid pt-4 px-4">
    <div class="col-12">
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">Projelerim</h6>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Proje</th>
                            <th scope="col">Resim</th>
                            <th scope="col">Kategori</th>
                            <th scope="col">Aktif</th>
                            <th scope="col">İşlemler</th>
                            
                           
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var p in Model)
                        {
                            <tr>
                                <td scope="row">@p.Id</td>
                                <td>Img src=@p."İmageUrl" width=</td>

                                
                                <td>@p.Name</td>
                                <td>@p.CategoryId</td>
                                <td>@p.IsActive</td>
                                <td>
                                    <a asp-asp-area=="Admin" asp-controller="prıject"
                                    asp-action="edit" asp-asp-route=" "
                                </td>
                                <td><button type="button" class="btn btn-outline-primary m-2">Düzenle</button></td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>