@model IEnumerable<CategoryViewModel>
@* Üstteki satır sayesinde buraya IEnumerable<CategoryViewModel> tipinde bir veri geleceği söyleniyor ve aynı zamanda gelen veri "Model" adlı değişkenin içerisine aktarılıyor.*@
@{
  ViewData["Title"] = "XYZ";
}

<div class="page-header d-flex justify-content-between">
  <h3 class="display-6 text-primary">Kategoriler</h3>
  <a asp-area="" asp-controller="Category" asp-action="Add" class="btn btn-primary btn-lg">
    <span class="btn-label">
      <i class="fa fa-plus"></i>
    </span>
    Yeni Kategori
  </a>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table id="entity-datatables" class="display table table-striped table-hover">
            <thead>
              <tr>
                <th width="40">ID</th>
                <th>Kategori</th>
                <th width="113">İşlemler</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var x in Model)
              {
                <tr>
                  <td>@x.Id</td>
                  <td>@x.Name</td>
                  <td>
                    <a asp-area="" asp-controller="Category" asp-action="Edit" asp-route-id="@x.Id"
                      title="Düzeltmek için tıklayınız" class="btn btn-icon btn-round btn-warning">
                      <i class="fa fa-pen"></i>
                    </a>
                    @await Html.PartialAsync("_SoftDeletePartial", @x)
                    @await Html.PartialAsync("_HardDeletePartial", @x)
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


@section Scripts {
  <partial name="_DataTablesPartial" />
}