@{
    ViewData["Title"] = "About";
}
<h1 class="display-6 text-danger">About Page</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. In dolorum cupiditate exercitationem, eligendi, ad pariatur dignissimos accusantium delectus doloribus nisi sit sunt doloremque minima iure unde, recusandae possimus totam tempora tenetur odio asperiores deleniti inventore. Necessitatibus saepe quos vitae rem, deleniti molestiae quisquam sapiente perspiciatis, dignissimos fugiat laudantium possimus debitis, eos commodi nostrum dolores maxime rerum doloremque delectus nesciunt!</p>