@model CategoryViewModel
@{
    var x = Model;
}
<!-- Kalıcı silme butonu -->
<a title="Silmek için tıklayınız" class="btn btn-icon btn-round btn-danger" data-bs-toggle="modal"
    data-bs-target="#trash-hard-modal-@x.Id">
    <i class="fa fa-trash-alt"></i>
</a>

<!-- Kalıcı silme Modal -->
<div class="modal fade" id="trash-hard-modal-@x.Id" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @x.Name kategorisini kalıcı olarak silmek istediğinizden emin misiniz?
                <p class="text-secondary">Silinen veri geri alınamayacaktır!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hayır</button>
                <a asp-area="" asp-controller="Category" asp-action="HardDelete" asp-route-id="@x.Id"
                    class="btn btn-danger">Evet</a>
            </div>
        </div>
    </div>
</div>